* {
    border-radius: 4px;
}
body {
    background-color: lightblue;
}

h1,
h2 {
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#main-container {
    display: flex;
    justify-content: start;
    gap: 18px
}

#task-container {
    display: flex;
    flex-direction: column;
    flex: 2 3 0;
    background-color: #fa541c7d;
    justify-content: center;
}

.task {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 16px;
    border: 1px dashed #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;

}

.task .input-field {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
    
}

.task .input-field .input {
    padding: 8px;
    border: 1px solid #ccc;
    flex: auto;

}

.task .input-field label {
    font-size: 16px;
}

.task .input-field .description {
    resize: none;
}

#project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


#project-list button {
    display: block;

}

#new-project-form {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.delete-task-button {
    cursor: pointer;
    align-self: end;
}

.delete-task-button:hover {
    color: red;
}

#new-task-button {
    margin: 8px 35%;
    flex-basis: 2rem;
}

#projects {
    flex: 1 1 0;
    position: sticky;
    top: 10%;
}

.task .input.dueDate {
    flex: 0 0 auto;
}

.task .input.priority {
    flex: 0 0 auto;
}

.task .input-field.top {
    justify-content: space-between;
    align-items: start;
}